* {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: sans-serif;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
}

#canvas_container {
    position: relative;
}

#sidebar {
    display: none;
    width: 20vw;
    height: 100vh;
}

#sidebar.expanded {
    background-color: #DCE0D9;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow-y: auto;
    overflow-x: hidden;

    position: relative;
}

#sidebar_content {
    width: 80%;
    max-height: 80%;
    padding: 1em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #343d46;

    overflow-y: auto;
    overflow-x: hidden;
}

#tooltip {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1em;
    color: #343d46;
}

.sidebar_item {
    position: relative;
    width: 80%;
    border-bottom: 1px dashed #343d465e;
    padding: 0.5em;
    color: #343d46;
}

.sidebar_item input[type="checkbox"] {
    position: absolute;
    right: 0;
}

.sidebar_item input[type="button"] {
    /* padding: 5% 40% 5% 40%; */
    width: 50%;
    height: 3vh;
    color: #DCE0D9;
    background: #343d46;
    /* position: absolute;
    left: 20%; */
    text-align: center;
}

.sidebar_item input[type="button"]:hover {
    background: orange;
    color: #343d46;
}

#sidebar_expand {
    /* height: 5vh; */
    padding: 0.25em 2em;
    background: #DCE0D9;
    position: absolute;
    right: 1em;
    top: 1em;
}

#sidebar_collapse {
    /* left: 1em;
    top: 1em; */
    top: 1em;
    right: 1em;

    position: absolute;
    padding: 0.25em 2em;
    background-color: #343d46;
    color: #DCE0D9;
}

#controls_container {
    /* top: 1em;
    right: 1em; */
    top: 1em;
    left: 1em;

    padding: 0.25em 2em;

    background-color: #343d46;
    color: #DCE0D9;
    
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

#controls_container svg:hover {
    background-color: orange;
}

#fastforward_counter {
    font-family: sans-serif;
    padding: 0.2em;
}

#sidebar_expand:hover {
    background-color: orange;
}

#sidebar_collapse:hover {
    background-color: orange;
}

#sidebar_expand.hidden {
    display: none;
}