* {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: sans-serif;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
}

#canvas_container {
    position: relative;
}

canvas {
    background-color: #343d46;
}

#sidebar {
    display: none;
    height: 100vh;
    padding: 0 1em;
}


#sidebar.expanded {
    background-color: #DCE0D9;
    width: 600px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow-x: auto;
}

#sidebar_content {
    width: 100%;
    overflow-y: auto;

    height: 75vh;
    padding: 2em;
    
    border: 1px solid #343d46;
}

#tooltip {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1em;
    color: #343d46;
}

.sidebar_item {
    position: relative;
    /* width: 15em;  */
    padding: 0.5em;
    color: #343d46;
    border-bottom: 1px dashed #343d465e;
}

.sidebar_item input[type="checkbox"] {
    /* position: absolute;
    right: 0; */
    margin-left: .5em;
}

.sidebar_item input[type="button"] {
    width: 100%;
    height: 25px;
    color: #DCE0D9;
    background: #343d46;
    text-align: center;
}

.sidebar_item input[type="button"]:hover {
    background: orange;
    color: #343d46;
}

#sidebar_expand {
    /* height: 5vh; */
    padding: 0.25em 2em;
    background: #DCE0D9;
    position: absolute;
    right: 1em;
    top: 1em;
}

#sidebar_collapse {
    top: 1em;
    right: 1em;

    position: absolute;
    padding: 0.25em 2em;
    background-color: #343d46;
    color: #DCE0D9;
}

#controls_container {
    bottom: 0;
    left: 0;
    
    padding: 0.25em 2em;

    background-color: #DCE0D9;
    color: #343d46;
    
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

#controls_container svg {
    padding: 0 .5em;
}

.controls_svg:hover {
    background-color: orange;
}

#controls_collapse {
    color: #343d46;
    background-color: #DCE0D9;
}

#controls_collapse:hover {
    background-color: orange;
}

#controls_container svg:hover {
    background-color: orange;
}

#controls_container svg:active {
    background-color: blue;
}


.controls_selected {
    background-color: orange;
}

#fastforward_counter {
    font-family: sans-serif;
    padding: 0.2em;
}

#sidebar_expand:hover {
    background-color: orange;
}

#sidebar_collapse:hover {
    background-color: orange;
}

#sidebar_expand.hidden {
    display: none;
}